# Entornos virtuales
.venv
venv
env
.env

# Archivos de bytecode de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales y de configuración específicos de Visual Studio Code
.vscode/

# Archivos específicos de sistemas operativos
.DS_Store
Thumbs.db